<div class="container" style="margin-top:50px;">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-10 col-sm-10 center-block ">
      <mat-card>
        <mat-card-content>
          <div class="signup-fields">
            <h3>Add Employee</h3>
            <form id="addEmployeeForm" style="margin-top: 10px;" [formGroup]="form" (ngSubmit)="addEmployee()">
              <div class="form-group">
                <div class="row">
                  <div class="col-md-2">Name</div>
                  <div class="col-md-4"><input class="form-control" name="name" matInput type="text" placeholder="Name"
                      formControlName="name" required />
                  </div>

                  <div class="col-md-2">Email</div>
                  <div class="col-md-4"><input class="form-control" name="email" matInput type="email" placeholder="Email"
                      formControlName="email" required /></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">Mobile Number</div>
                <div class="col-md-4"><input class="form-control" name="mobileNo" matInput type="number" placeholder="Mobile Number"
                    formControlName="mobileNo" required /></div>

                <div class="col-md-2">Address</div>
                <div class="col-md-4"><input class="form-control" name="address" matInput type="text" placeholder="Address"
                    formControlName="address" required /></div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-md-10"> <input type="hidden" formControlName="empId"></div>
                <div class="col-md-2">

                  <button id="btnSubmit" type="submit" class="btn btn-success" [disabled]="newMode">Add Employee</button>
                </div>
              </div>

            </form>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>